assets/sound/sound.mp3

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.packages
build/

.vscode/

.env

.android/
*.apk
*.ap_

ios/Flutter/.generated/
*.xcuserstate

test_output/

*.bak
*.tmp

*.dart.js
*.js.deps
*.js.map

*.swo
*.swn

flutter_export_environment.sh
flutter.yaml
